// ┌───────────┐
// │ Icon Font │
// └───────────┘
//  ↳ http://esri.github.io/calcite-web/icons/
//  ↳ icons → _icon-font.md

// ┌───────────┐
// │ Generated │
// └───────────┘
//  ↳ /bin/webfonts-template.scss
//  ↳ content unicode values are generated and should not be used elsewhere

@mixin icon-font-styles() {
  font-family: '<%= fontBaseName %>';
  padding-right: $baseline/3;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  text-decoration: none;
}

%icon-font-styles {
  @include icon-font-styles();
}

// when placing an icon after text
%icon-font-after {
  @extend %icon-font-styles;
  padding-right: 0;
  padding-left: $baseline/3;
}

%icon-font-flush {
  padding-right: 0 !important;
  padding-left:  0 !important;
}

@mixin icon-font () {

  @font-face {
    font-family: '<%= fontBaseName %>';
    src: url("#{$font-path}/calcite-ui.eot?#iefix") format("embedded-opentype"),
         url("#{$font-path}/calcite-ui.woff") format("woff"),
         url("#{$font-path}/calcite-ui.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  [class^="esri-icon-"]:before,
  [class*=" esri-icon-"]:before,
  [class^="icon-ui-"]:before,
  [class*=" icon-ui-"]:before {
    @include icon-font-styles();
  }

  .esri-icon-small:before, .icon-ui-small:before   { @include font-size(-4);}

  <% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { %>
    // <%= glyphs[glyphIdx] %>
    .icon-ui-<%= glyphs[glyphIdx] %>:before,
    .esri-icon-<%= glyphs[glyphIdx] %>:before, {
      content: "\<%= codepoints[glyphIdx] %>";
    }
  <% } %>

  .icon-ui-flush:before, .icon-esri-flush:before,
  .icon-ui-flush:after, .icon-esri-flush:after     { @extend %icon-font-flush;}
}

@if $include-icon-font == true {
  @include icon-font();
}