# Mac
.DS_Store
Icon
._*
.Spotlight-V100

# SublimeText
/*.sublime-project
*.sublime-workspace

# SASS
.sass-cache

# Ruby
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# RVM
.rvmrc

# YARD artifacts
.yardoc
_yardoc

# node
node_modules
.grunt
npm-debug.log

# project specific
docs/build
dist/
docs/source/assets/img
docs/source/assets/fonts
docs/source/assets/js/libs/calcite-web.js
docs/source/assets/css/ago-header.scss
calcite-web.zip
docs/source/icons.json
lib/sass/calcite-web/icons/sets/
lib/sass/calcite-web/icons/_font.scss
