<!DOCTYPE html>
<!--[if lt IE 9]>  <html class="ie lt-ie9 ie8"> <![endif]-->
<!--[if IE 9]>     <html class="ie ie9"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->
  <head>

    <!-- Set encoding -->
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <!-- Use title from page frontmatter -->
    <title>Calcite Web | Esri Design Patterns</title>

    <!-- Link to favicon -->
    <link rel="shortcut icon" href="/img/favicon.ico">

    <!-- stylesheets -->
    
      <link rel="stylesheet" href="../assets/css/all.css">
      <!-- <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/cssapi/9431e9a5-7a6d-4b5f-82be-4d935972de5a.css"/> -->
    

    <!--[if lt IE 9]>
      <script src="../assets/js/libs/selectivizr-min.js"></script>
      <script src="../assets/js/libs/html5shiv.js"></script>
    <![endif]-->

  </head>

  <body>
    <div class="wrapper">
      <!-- Top Nav Pattern-->
      <header class="top-nav">
        <div class="container">
          <a href="#" class="top-nav-title">Esri Design Patterns</a>
          <nav class="top-nav-list">
            <a class="top-nav-link" href="#">Branding</a>
            <a class="top-nav-link is-active" href="../">Web</a>
            <a class="top-nav-link" href="#">Mobile</a>
            <a class="top-nav-link" href="#">Presentations</a>
          </nav>
          <!-- Site Search Pattern-->
          <!-- Sign in / User Menu Patterns-->
        </div>
      </header>

      <!-- Secondary Nav Pattern -->
      <header class="sub-nav">
        <div class="container">

          <h1 class="sub-nav-title"><a href="../" class="link-white">Web</a></h1>
          <a href="https://github.com/ArcGIS/calcite-web/releases" class="btn btn-orange btn-arrow right leader-1">Latest Release</a>
          <nav class="sub-nav-list">
            <a class="sub-nav-link is-active" href="../">Calcite Web</a>
            <a class="sub-nav-link" href="#">Calcite Dojo</a>
            <a class="sub-nav-link" href="#">Calcite Bootstrap</a>
          </nav>
        </div>
      </header>

      <!-- Third Nav Pattern -->
      <header class="third-nav">
        <div class="container">
          <nav>
            <a class="third-nav-link " href="../">Get Started</a>
            <a class="third-nav-link " href="../type">Type</a>
            <a class="third-nav-link " href="../grid">Grid</a>
            <a class="third-nav-link " href="../grid">Color</a>
            <a class="third-nav-link " href="../grid">Icons</a>
            <a class="third-nav-link is-active" href="../components">Components</a>
            <a class="third-nav-link " href="../patterns">Patterns</a>
            <a class="third-nav-link " href="../sass">Sass</a>
            <a class="third-nav-link " href="../javascript">JavaScript</a>
          </nav>
        </div>
      </header>

      <!-- Site Search Pattern -->
      <!-- <div class="site-search">
        <form action="/search/" class="site-search">
          <input class="site-search-input js-seach-toggle is-active" type="search" name="q" placeholder="Search">
          <button type="submit" class="site-search-button">Go</button>
        </form>
      </div> -->

      <!-- content of each page will go here -->
      <div class="container leader-1">

        <div class="column-6">
          <aside class="side-nav column-6">
            
              <h4 class="side-nav-title">Components</h4>
              <nav>
                
                  <a href="/components#component-overview" class="side-nav-link">Overview</a>
                
                  <a href="/components#alerts" class="side-nav-link">Alerts</a>
                
                  <a href="/components#breadcrumbs" class="side-nav-link">Breadcrumbs</a>
                
                  <a href="/components#tooltips" class="side-nav-link">Tooltips</a>
                
                  <a href="/components#buttons" class="side-nav-link">Buttons</a>
                
                  <a href="/components#button-groups" class="side-nav-link">Button Groups</a>
                
                  <a href="/components#tables" class="side-nav-link">Tables</a>
                
              </nav>
            
              <h4 class="side-nav-title">Forms</h4>
              <nav>
                
                  <a href="/components#text-inputs" class="side-nav-link">Text Inputs</a>
                
                  <a href="/components#button-inputs" class="side-nav-link">Button Inputs</a>
                
                  <a href="/components#selects" class="side-nav-link">Selects</a>
                
                  <a href="/components#checkboxes" class="side-nav-link">Checkboxes</a>
                
                  <a href="/components#radio-buttons" class="side-nav-link">Radio Buttons</a>
                
              </nav>
            
          </aside>
        </div>

        <main class="column-17 pre-1">
          
            
              <section class="trailer-2">
                <h1 class="trailer-0">Overview</h1>

<h2 class="leader-2 trailer-1" id="alerts">Alerts</h2>

<div class="alert alert-green link-yellow is-active">
Something Happened! <a>Link</a>
<a href="#" class="alert-close">thanks</a>
</div>

<h2 class="leader-2 trailer-1" id="breadcrumbs">Breadcrumbs</h2>

<nav class="breadcrumbs padding-leader-1">
<a href="#" class="crumb">Thing</a>
<span class="crumb">Thing</span>
<a href="#" class="crumb">Thing</a>
<a href="#" class="crumb">Thing</a>
<a href="#" class="crumb is-active">Current</a>
</nav>

<h2 class="leader-2 trailer-1" id="tooltips">Tooltips</h2>

<div class="column-17 trailer-1">
<div class="tooltip" data-message="This is the message of the tooltip">
  <span class="icon-help">?</span>
</div>
</div>

<div class="column-17 trailer-1">
<div class="tooltip tooltip-left" data-message="This is the message of the tooltip">
  <span class="icon-help">?</span>
</div>
</div>

<div class="column-17 trailer-1">
<div class="tooltip tooltip-right" data-message="This is the message of the tooltip">
  <span class="icon-help">?</span>
</div>
</div>

<h2 class="leader-2 trailer-1" id="buttons">Buttons</h2>

<p><a href="#" class="btn">Button</a>
<a href="#" class="btn btn-red">Red Button</a>
<a href="#" class="btn btn-green">Green Button</a>
<a href="#" class="btn btn-blue">Blue Button</a></p>
<h2 class="leader-2" id="button-groups">Button Groups</h2>

<nav class="leader-1">
<a href="#" class="btn btn-grouped">One</a>
<a href="#" class="btn btn-grouped">Two</a>
<a href="#" class="btn btn-grouped">Three</a>
</nav>

<h2 class="leader-2 trailer-1" id="tables">Tables</h2>

<p>To fix a large table breaking your layout (especially on mobile), apply a <code>table-wrap</code> class to a div that wraps your table. This will cause your table to horizontally scroll when it is too large for the layout.</p>

<div class="table-wrap" class="trailer-3">
<table>
  <thead>
    <tr>
      <th> td </th>
      <th> th </th>
      <th> th </th>
      <th> th </th>
      <th> th </th>
      <th> th </th>
      <th> th </th>
      <th> th </th>
      <th> th </th>
      <th> th </th>
      <th> th </th>
      <th> th </th>
      <th> th </th>
      <th> th </th>
      <th> th </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> 27 </td>
      <td> 14 </td>
      <td> 8  </td>
      <td> 8  </td>
      <td> 8  </td>
      <td> 8  </td>
      <td> 8  </td>
      <td> 8  </td>
      <td> 8  </td>
      <td> 8  </td>
      <td> 8  </td>
      <td> 8  </td>
      <td> 8  </td>
      <td> 8  </td>
      <td> 8  </td>
    </tr>
    <tr>
      <td> 27 </td>
      <td> 14 </td>
      <td> 8  </td>
      <td> 8  </td>
      <td> 8  </td>
      <td> 8  </td>
      <td> 8  </td>
      <td> 8  </td>
      <td> 8  </td>
      <td> 8  </td>
      <td> 8  </td>
      <td> 8  </td>
      <td> 8  </td>
      <td> 8  </td>
      <td> 8  </td>
    </tr>
  </tbody>
</table>
</div>

<h2 class="leader-2 trailer-1" id="forms">Forms</h2>

<h3 id="text-inputs">Text Inputs</h3>
<div class="block-group block-group-3-up">
<div class="block">
  <label>date
    <input type='date'>
  </label>
</div>
<div class="block">
  <label>datetime
    <input type='datetime'>
  </label>
</div>
<div class="block">
  <label>datetime-local
    <input type='datetime-local'>
  </label>
</div>
<div class="block">
  <label>email
    <input type='email' placeholder='placeholder text'>
  </label>
</div>
<div class="block">
  <label>time
    <input type='time'>
  </label>
</div>
<div class="block">
  <label>week
    <input type='week'>
  </label>
</div>
<div class="block">
  <label>search
    <input type='search'>
  </label>
</div>
<div class="block">
  <label>tel
    <input type='tel'>
  </label>
</div>
<div class="block">
  <label>text
    <input type='text'>
  </label>
</div>
<div class="block">
  <label>url
    <input type='url'>
  </label>
</div>
<div class="block">
  <label>number
    <input type='number'>
  </label>
</div>
<div class="block">
  <label>password
    <input type='password'>
  </label>
</div>
<div class="block">
  <label>month
    <input type='month'>
  </label>
</div>
</div>

<h3 id="button-inputs">Button Inputs</h3>

<p><input type="button" value="button" id="button"></p>
<p><input type="file" value="file" id="file"></p>
<p><input type="reset" value="reset" id="reset"></p>
<input type="submit" value="submit" id="submit">

<h3 id="selects">Selects</h3>
<label>
Select Menu:
<select>
  <option value="">Menu 1</option>
  <option value="">Menu 2</option>
  <option value="">Menu 3</option>
  <option value="">Menu 4</option>
</select>
</label>

<h3 id="checkboxes">Checkboxes</h3>
<input type="checkbox" id="checkbox"><label for="checkbox">Check Box 1</label>
<input type="checkbox" id="checkbox2"><label for="checkbox2">Check Box 2</label>

<h3 id="radio-buttons">Radio Buttons</h3>

<fieldset>
<legend>Choose One Color</legend>
<input type="radio" name="color" value="blue" id="blue"><label for="blue">Blue</label>
<input type="radio" name="color" value="red" id="red"><label for="red">Red</label>
<input type="radio" name="color" value="green" id="green"><label for="green">Green</label>
</fieldset>
                
              </section>
              <hr class="trailer-2">
            
              <section class="trailer-2">
                <h2 id="alerts">Alerts</h2>

                
              </section>
              <hr class="trailer-2">
            
              <section class="trailer-2">
                <h2 id="breadcrumbs">Breadcrumbs</h2>

                
              </section>
              <hr class="trailer-2">
            
              <section class="trailer-2">
                <h2 id="tooltips">Tooltips</h2>

                
              </section>
              <hr class="trailer-2">
            
              <section class="trailer-2">
                <h2 id="buttons">Buttons</h2>

                
              </section>
              <hr class="trailer-2">
            
              <section class="trailer-2">
                <h2 id="button-groups">Button Groups</h2>

                
              </section>
              <hr class="trailer-2">
            
              <section class="trailer-2">
                <h2 id="tables">Tables</h2>

                
              </section>
              <hr class="trailer-2">
            
          
            
              <section class="trailer-2">
                <h2 id="text-inputs">Text Inputs</h2>

                
              </section>
              <hr class="trailer-2">
            
              <section class="trailer-2">
                <h2 id="button-inputs">Button Inputs</h2>

                
              </section>
              <hr class="trailer-2">
            
              <section class="trailer-2">
                <h2 id="selects">Selects</h2>

                
              </section>
              <hr class="trailer-2">
            
              <section class="trailer-2">
                <h2 id="checkboxes">Checkboxes</h2>

                
              </section>
              <hr class="trailer-2">
            
              <section class="trailer-2">
                <h2 id="radio-buttons">Radio Buttons</h2>

                
              </section>
              <hr class="trailer-2">
            
          
        </main>

      </div>

    </div>

    

      <!-- Footer Pattern -->
      <footer class="footer header-face leader-3">
        <div class="container">
            <nav class="column-6">
              <h6>Arc<span>GIS</span></h6>
              <ul class="list-bulleted">
                <li><a href="http://www.arcgis.com/about/">Home</a></li>
                <li><a href="http://www.arcgis.com/about/features.html">Features</a></li>
                <li><a href="http://www.arcgis.com/about/pricing.html">Pricing</a></li>
              </ul>
            </nav>

            <nav class="column-6">
              <h6>Arc<span>GIS</span> for Developers</h6>
              <ul>
                <li><a href="/en/">Home</a></li>
                <li><a href="/en/features/">Features</a></li>
                <li><a href="http://blogs.esri.com/esri/arcgis/category/developer/">Blog</a></li>
              </ul>
            </nav>

            <nav class="column-6">
              <h6>About Esri</h6>
              <ul>
                <li><a href="http://www.esri.com/about-esri/">About Us</a></li>
                <li><a href="http://www.esri.com/careers/">Careers</a></li>
                <li><a href="http://blogs.esri.com/esri/esri-insider/">Insiders Blog</a></li>
                <li><a href="http://www.esri.com/events/user-conference/index.html">User Conference</a></li>
                <li><a href="http://www.esri.com/events/devsummit/index.html">Developer Summit</a></li>
              </ul>
            </nav>

            <nav class="column-6">
              <a class="esri-logo-footer" href="http://esri.com">Esri</a>
              <section class="footer-social-nav">
                <a class="icon-twitter" href="https://twitter.com/Esri/"></a>
                <a class="icon-facebook" href="https://www.facebook.com/esrigis/"></a>
                <a class="icon-github" href="http://esri.github.com/"></a>
                <a class="icon-email" href="http://www.esri.com/about-esri/contact/"></a>
              </section>
            </nav>
            <div class="column-24">
              <p><small>© Copyright 2013 Environmental Systems Research Institute, Inc. | <a href="http://www.esri.com/legal/privacy">Privacy</a> | <a href="http://www.esri.com/legal/software-license">Legal</a></small></p>
            </div>
          </div>

        </div>
      </footer>

      <script src="../assets/js/libs/calcite-web.js"></script>
      <script src="../assets/js/all.js"></script>

    

  </body>

</html>