@import "../../shared/css/shared.pcss";

/* Global Header Brand Stripe
/* ========================================================================== */

.esri-header-branding-stripe {
  position: absolute;
  left: 0;
  right: 0;
  display: none;
}

.esri-header-branding-stripe.-visible {
  display: block;
  height: 3px;
  top: -3px;
}
