@import "../../shared/css/shared.pcss";

/* Global Header Client
/* ========================================================================== */

.esri-header-lineBreak {
	display: flex;
	flex-grow: 0;

	@media (--width-ml) {
		box-shadow: inset 1px 0 0 0 var(--mono-88);
		height: 100%;
		width: 1px;

		@nest :dir(rtl) & {
			width: 0;
		}
	}
}

.esri-header-client {
	display: flex;
	flex-grow: 0;

	@media (--width-s) {
		display: none;
	}
}
