$include-content-family: true;
$include-secondary-family: true;

// Icons
$include-calcite-icons: false;


// Turn these on to test 960px grid
// $container-width: 960px;

// Use this to test dark theme
// @import "calcite-web-dark";

@import "code";

// Splashy banner stuff
.bg-banner {
  background: url("../img/docs/topo.svg"), linear-gradient(110deg, $off-white 10%, $white 90%);
  background-position: center;
  background-size: contain;
  color: $black;
}

.banner-title {
  font-size: 5.5rem;
}

.banner-logo {
  margin: 0 auto $baseline auto;
  display: block;
}

.esri-header-brand-link:hover {
  text-decoration: none;
}

.esri-header-brand-text {
  vertical-align: top;
  line-height: 1.6;
}

.esri-header-menus-subitem--wide {
  margin-top: 0;
  width: 25%;
}

.esri-header-menus-sublist--wide {
  margin: 0;
  padding: 0;
}

.esri-header .leader-quarter {
  @include leader(.25);
}

@media screen and (max-width: $small) {
  .esri-header-menus-subitem--wide {
    margin-top: 0;
    width: 50%;
  }
}

.huge-text {
  font-size: calc(4vw + 16px);
  line-height: 1.25;
}

.package-overlap {
  margin-top: -4.5rem;
}

.display-block {
  display: block;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-1 {
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  -o-flex: 1 1 auto;
  flex: 1 1 auto;
  overflow: hidden;
}

.flex-0 {
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  -o-flex: 0 0 auto;
  flex: 0 0 auto;
}

// Sub-Nav test Classes
.sub-nav {
  background: url("../img/docs/topo-white.svg") $darker-blue;
  background-size: 1000px;
  background-repeat: repeat-x;
}

// Type Specimen Classes
.type-sample {
  @include font-size(10);
  line-height: 1.15em;
}

// Modifier Classes
.styleguide-modifiers {
  @include clearfix();
  background: $white;
  overflow-x: auto;
  &.styleguide-modifiers-overflow-visible {
    overflow-y: visible;
    overflow-x: visible;
  }
  .styleguide-modifier-example {
    min-height: 2rem;
    padding: .5em;
    border: 1px solid $lightest-gray;
    position: relative;
    clear: both;
    overflow: visible;
    &:last-child {
      border-radius: 0 0 3px 3px;
    }
    &:not(:last-of-type) {
      border-bottom-width:0px;
    }
    &:first-child {
      border-radius: 3px 3px 0 0;
      .modifier-name {
        border-radius: 0 3px 0 3px;
      }
    }
    .modifier-name {
      border-radius: 0 0 0 3px;
      position: absolute;
      top: -1px;
      right: -1px;
      @include font-size(-3);
      padding-left: 3px;
      padding-right: 3px;
      z-index: 1;
      background-color: $white;
      color: $off-black;
      opacity: 0.94;
      transition: opacity .15s ease-in-out;
      &:hover {
        opacity: 1.0;
      }
      @if ($include-right-to-left) {
        html[dir="rtl"] & {
          right: auto;
          left: -1px;
          border-radius: 0 0 3px 0;
        }
      }
    }
    .alert {
      z-index: 0;
    }
  }
  .styleguide-modifier-example-dark {
    background-color: $off-black;
    border-color: $darkest-gray;
  }
}

.styleguide-modifiers + pre {
  margin-top: 0;
  code {
    border-top-width: 0px;
    border-radius: 0 0 3px 3px;
    max-height: 300px;
  }
}

// Grid Test Classes
.grid-example [class*="column-"],
.grid-example .block, {
  span {
    width: 100%;
    display: block;
    margin-bottom: 1em;
    color: $dark-gray;
    background-color: $off-white;
    font-family: $code-family;
    @include font-size(-2);
    padding-top: $baseline;
    padding-bottom: $baseline;
    text-align: center;
  }
}

.html-sample {
  max-height: 45vh;
  overflow: scroll;
}

// Color Sample Classes

.color-sample {
  width: 100%;
  height: 5*$baseline;
  padding-top: .5rem;
  display: flex;
  align-items: flex-end;
  &.white             { background-color: $white; }
  &.off-white         { background-color: $off-white; }
  &.lightest-gray     { background-color: $lightest-gray; }
  &.lighter-gray      { background-color: $lighter-gray; }
  &.light-gray        { background-color: $light-gray; }
  &.gray              { background-color: $gray; }
  &.dark-gray         { background-color: $dark-gray; }
  &.darker-gray       { background-color: $darker-gray; }
  &.darkest-gray      { background-color: $darkest-gray; }
  &.off-black         { background-color: $off-black; }
  &.transparent-black { background-color: $transparent-black; }
  &.black             { background-color: $black; }
  &.lightest-blue     { background-color: $lightest-blue; }
  &.lighter-blue      { background-color: $lighter-blue; }
  &.light-blue        { background-color: $light-blue; }
  &.blue              { background-color: $blue; }
  &.dark-blue         { background-color: $dark-blue; }
  &.darker-blue       { background-color: $darker-blue; }
  &.lightest-green    { background-color: $lightest-green; }
  &.lighter-green     { background-color: $lighter-green; }
  &.light-green       { background-color: $light-green; }
  &.green             { background-color: $green; }
  &.dark-green        { background-color: $dark-green; }
  &.darker-green      { background-color: $darker-green; }
  &.lightest-red      { background-color: $lightest-red; }
  &.lighter-red       { background-color: $lighter-red; }
  &.light-red         { background-color: $light-red; }
  &.red               { background-color: $red; }
  &.dark-red          { background-color: $dark-red; }
  &.darker-red        { background-color: $darker-red; }
}

.color-swatch {
  opacity: 1;
  transition: opacity 200ms ease-in-out, box-shadow 200ms ease-in-out;
  border: none;
  padding: 0;
  align-items: stretch;
  text-align: left;
  cursor: pointer;
  html[dir="rtl"] & {
    text-align: right;
  }
}

.color-swatch * {
  pointer-events: none;
}

.color-swatch:hover, .color-swatch:focus {
  box-shadow: 0 0 0 1px $blue, $box-shadow;
  outline: none;
}

.color-swatch-text {
  transition: opacity 200ms ease-in-out, color 200ms ease-in-out;
}

.color-swatch-active,
.color-swatch-active:focus {
  box-shadow: 0 0 0 2px $blue, $box-shadow;
  outline: none;
}

.color-swatch-inactive {
  opacity: 0.2;
}

pre code {
  background-color: white;
}

.code-area {
  @include code-face();
  padding: .25rem;
  border-radius: 3px;
  border: 1px solid $lightest-gray;
  color: $darkest-gray;
  background-color: $off-white;
  white-space: pre;
  font-size: 0.85em;
  line-height: 1.4rem;
  padding: 1rem;
  display: block;
  overflow: auto;
  max-width: 100%;
}

.icon-preview-link {
  background-color: white;
  color: $off-black;
  padding-top: $baseline;
  border: 1px solid $white;
  cursor: pointer;
  text-align: center;
  white-space: normal;
}

.icon-preview-link:hover, .icon-preview-link:focus {
  background-color: $off-white;
  border: 1px solid $lightest-gray;
  outline: none;
  color: $off-black;
}

.icon-preview {
  pointer-events: none;
}

.icon-wrap {
  pointer-events: none;
  display: block;
}

.icon-preview svg {
  display: block;
  margin: 0 auto;
  pointer-events: none;
}

mark {
  background-color: $lightest-blue;
}

.docs-link-icon {
  height: 16px;
  width: auto;
  max-width: 40px;
  margin: 0 $baseline * 0.25;
  vertical-align: middle;
}

.docs-toggle-spacer {
  padding-top: $baseline * .8;
  padding-bottom: $baseline * .55;
}

.icon-select * {
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
}

.icon-select {
  border: 1px solid $lightest-gray;
  background-color: $white;
  color: $black;
  transition: all 100ms linear;
}

.icon-select:hover, .icon-select:focus {
  border: 1px solid $blue;
  color: $black;
  text-decoration: none;
  background-color: $white;
}

.icon-select--name {
  word-wrap: break-word;
  text-align: center;
  margin-top: .5rem;
  white-space: normal;
  font-size: 12px;
  display: block;
}
