.slide {
  display: none;
  width: auto;
  height: 100vh;
  margin: 0 auto;
  padding: 0 10%;
  box-sizing: border-box;
}

.slide:target {
  display: table;
}

.slide-content {
  display: table-cell;
  vertical-align: middle;
  max-width: 42rem;
  margin: 0 auto;
}

.slide-block {
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slide-block:target {
  display: block;
}