.hljs-comment {
  color: $dark-gray;
}

.hljs-attr,
.hljs-attribute {
  color: $h-vv-050;
}

.hljs-selector-class,
.hljs-name {
  color: $blue;
}

.hljs-selector-pseudo,
.hljs-string {
  color: $green;
}
