.prism-comment {
  color: $dark-gray;
}

// html
.prism-tag {
  color: $green;
}

.prism-attr-name {
  color: $h-vv-050;
}

.prism-attr-value {
  color: $blue;
}

// sass
.prism-variable {
  color: $green;
}

.prism-keyword {
  color: $blue;
}

.prism-string {
  color: $green;
}

.prism-boolean {
  color: $h-vv-050;
}

.prism-property, .prism-property .prism-variable {
  color: $h-gb-080;
}

.prism-selector {
  color: $red;
}

.prism-function {
  color: $h-vv-050;
}

