$include-content-family: true;
$include-secondary-family: true;

// Turn these on to test 960px grid
// $container-width: 960px;

@import "github";
@import "calcite-web";

// Splashy banner stuff
.bg-banner {
  background: url('../img/docs/banner.svg') no-repeat center center $off-white;
}

.text-gradient {
  background-size: 100% 100%;
  background-image: linear-gradient(110deg, #005e95 10%, #9bc19c 90%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.huge-text {
  font-size: 5vw;
  line-height: 1.25;
}

.site-search {
  margin-top: .25rem;
}

// Sub-Nav test Classes
.sub-nav {
  background-color: $darker-blue;
}

// Type Specimen Classes
.type-sample {
  @include font-size(10);
  line-height: 1.15em;
}

// Modifier Classes
.styleguide-modifiers {
  @include clearfix();
  background: $white;
  .styleguide-modifier-example {
    min-height: 2rem;
    padding: .5em;
    border-bottom: 1px solid $lightest-gray;
    border-left: 1px solid $lightest-gray;
    border-right: 1px solid $lightest-gray;
    position: relative;
    clear: both;
    &:last-child {
      border-bottom: none;
    }
    &:first-child {
      border-top: 1px solid $lightest-gray;
      border-radius: 6px 6px 0 0;
      .modifier-name {
        border-radius: 0 3px 0 3px;
      }
    }
    .modifier-name {
      border-radius: 0 0 0 3px;
      position: absolute;
      top: -1px;
      right: -1px;
      @include font-size(-3);
      padding-left: 3px;
      padding-right: 3px;
      z-index: 1;
    }
  }
}

.styleguide-modifiers + pre {
  margin-top: 0;
  code {
    border-radius: 0 0 3px 3px;
  }
}

// Grid Test Classes
.grid-example [class*="column-"],
.grid-example .block, {
  margin-top: 1em;
  span {
    width: 100%;
    display: block;
    color: $white;
    background-color: rgba($blue, 0.6);
    font-family: monospace;
    padding-top: 2em;
    padding-bottom: 2em;

    text-align: center;
  }
}

.html-sample {
  max-height: 45vh;
  overflow: scroll;
}

.nested-demo [class*="column-"] {
  [class*="column-"] {
    span {
      background-color: rgba($blue, 0.4);
    }
    [class*="column-"] {
      span {
        background-color: rgba($blue, 0.2);
      }
      [class*="column-"] {
        span {
          background-color: rgba($blue, 0.1);
        }
      }
    }
  }
}

// Color Sample Classes

.color-sample {
  width: 100%;
  height: 5*$baseline;
  padding-top: .5rem;
  &.white { background-color: $white; }
  &.off-white { background-color: $off-white; }
  &.lightest-gray { background-color: $lightest-gray; }
  &.lighter-gray { background-color: $lighter-gray; }
  &.light-gray { background-color: $light-gray; }
  &.gray { background-color: $gray; }
  &.dark-gray { background-color: $dark-gray; }
  &.darker-gray { background-color: $darker-gray; }
  &.darkest-gray { background-color: $darkest-gray; }
  &.off-black { background-color: $off-black; }
  &.black { background-color: $black; }
  &.transparent-off-black { background-color: $transparent-off-black; }
  &.transparent-black { background-color: $transparent-black; }
  &.lightest-blue { background-color: $lightest-blue; }
  &.lighter-blue { background-color: $lighter-blue; }
  &.light-blue { background-color: $light-blue; }
  &.blue { background-color: $blue; }
  &.dark-blue { background-color: $dark-blue; }
  &.light-green { background-color: $light-green; }
  &.green { background-color: $green; }
  &.dark-green { background-color: $dark-green; }
  &.light-red { background-color: $light-red; }
  &.red { background-color: $red; }
  &.dark-red { background-color: $dark-red; }
  &.light-orange { background-color: $light-orange; }
  &.orange { background-color: $orange; }
  &.dark-orange { background-color: $dark-orange; }
  &.light-yellow { background-color: $light-yellow; }
  &.yellow { background-color: $yellow; }
  &.dark-yellow { background-color: $dark-yellow; }
  &.light-purple { background-color: $light-purple; }
  &.purple { background-color: $purple; }
  &.dark-purple { background-color: $dark-purple; }
  &.light-brown { background-color: $light-brown; }
  &.brown { background-color: $brown; }
  &.dark-brown { background-color: $dark-brown; }
}
