@import "github";
@import "calcite-web";

// Sub-Nav test Classes
.sub-nav {
  background-image: url('../img/banner.jpg');
  background-position: center top;
}

// Type Specimen Classes
.type-sample {
  @include font-size(10);
  line-height: 1.15em;
}

// Grid Test Classes
.grid-example [class*="column-"] {
  margin-top: 1em;
  span {
    width: 100%;
    display: block;
    color: $white;
    background-color: rgba($blue, 0.6);
    font-family: monospace;
    padding-top: 2em;
    padding-bottom: 2em;

    text-align: center;
  }
}

.nested-demo [class*="column-"] {
  [class*="column-"] {
    span {
      background-color: rgba($blue, 0.4);
    }
    [class*="column-"] {
      span {
        background-color: rgba($blue, 0.2);
      }
      [class*="column-"] {
        span {
          background-color: rgba($blue, 0.1);
        }
      }
    }
  }
}