$large: 1000px;
$column-gutter: 1.5rem;

@import "calcite-web";

.carousel-slides {
  height: 420px;
  overflow-y: hidden;
}

.carousel-slide {
  background-position: center center;
}

.slide-fade-in {
  opacity: 0;
  @include transform(translate3d(0,-20px,0));
  @include transition-prefixed(transform 400ms ease-out, opacity 400ms ease-out);
  @include transition-delay(1s);
}

.is-active .slide-fade-in {
  opacity: 1;
  @include transform(translate3d(0,0,0));
}

.fade-in {
  @include animation(fade-in 1.75s ease-out);
}

@include keyframes(fade-in) {
  0%   { opacity: 0; }
  25%  { opacity: 0; }
  100% { opacity: 1; }
}

.carousel-slide:nth-child(1) { background-image: url('http://www.esri.com/~/media/Images/carousel-images/home-rotators/arcgis-103.jpg'); }
.carousel-slide:nth-child(2) { background-image: url('http://www.esri.com/~/media/Images/carousel-images/home-rotators/3d-scene.jpg'); }
.carousel-slide:nth-child(3) { background-image: url('http://www.esri.com/~/media/Images/carousel-images/home-rotators/geodesign-15.jpg'); }
.carousel-slide:nth-child(4) { background-image: url('http://www.esri.com/~/media/Images/carousel-images/home-rotators/uc15-banner.jpg'); }

.banner-dots {
  @include font-size(5);
  margin-top: -3 * $baseline;
  position: absolute;
}

.panel-light-blue {
  background-color: $lightest-blue;
  border: none;
}

.panel-blue {
  background-color: $blue;
}

.panel-dark-blue {
  background-color: $dark-blue;
  padding: 0;
}