$include-content-family: true;
$include-secondary-family: true;

$include-grid:                  false;
  $fold-grid:                   false;
  $block-grid:                  false;


// Components
$include-alerts:                false;
$include-badges:                false;
$include-labels:                false;
$include-tables:                false;
$include-panel:                 false;
$include-button:                false;
$include-dropdowns:             false;
$include-breadcrumbs:           false;
$include-tooltip:               false;
$include-forms:                 false;
$include-input-groups:          false;
$include-action-bar:            false;
$include-loader:                false;
$include-search-bar:            false;
$include-skip-to-content:       false;
$include-logo:                  false;

// Patterns
$include-footer:                false;
$include-sticky-footer:         false;
$include-pagination:            false;
$include-side-nav:              false;
$include-sub-nav:               false;
$include-third-nav:             false;
$include-top-nav:               false;
$include-super-nav:             false;
$include-user-nav:              false;
$include-toolbar:               false;
$include-site-search:           false;

// Javascript
$include-tabs:                  false;
$include-modal:                 false;
$include-accordion:             false;
$include-drawers:               false;
$include-expanding-nav:         false;
$include-sticky:                false;

@import "github";
@import "calcite-web";