$large: 1000px;
$column-gutter: 1.5rem;

@import "calcite-web";

.arcgis-product-header {
  background: url(http://www.esri.com/~/media/Images/Banners/software/arcgis-online-banner-lg.jpg);
  background-origin: padding-box;
  background-size: cover;
  background-position: center center;
}