/* Global Footer Animations */
/* ========================================================================== */

@keyframes gfoot {
	from {
		background-position-x: 0;
	}

	to {
		background-position-x: 133vw;
	}
}
