/* Global Footer Custom Media
/* ========================================================================== */

@custom-media --gfoot-xs (width < 420px);
@custom-media --gfoot-s  (width < 720px);
@custom-media --gfoot-m  (width >= 720px) and (width <= 1200px);
@custom-media --gfoot-l  (width > 1200px);

@custom-media --gfoot-sm  (width <= 1200px);
@custom-media --gfoot-ml  (width >= 720px);
@custom-media --gfoot-sml (width >= 360px);
